Repository CitizensTogether/concord-mobile, pull requests merged in 2020-08, with the labels that each got.

#5 feat: Create request details screen prototype
  assets/fonts/Raleway-Bold.ttf
  assets/fonts/Raleway-ExtraBold.ttf
  assets/fonts/Raleway-ExtraLight.ttf
  assets/fonts/Raleway-Heavy.ttf
  assets/fonts/Raleway-Italics.ttf
  assets/fonts/Raleway-Light.ttf
  assets/fonts/Raleway-Medium.ttf
  assets/fonts/Raleway-Regular.ttf
  assets/fonts/Raleway-SemiBold.ttf
  assets/fonts/Raleway-Thin.ttf
  lib/ui/screens/request_details_screen.dart
  lib/ui/widgets/status_indicator.dart
  lib/ui/widgets/submit_button.dart
  lib/ui/widgets/tags.dart
  pubspec.yaml
Labels: enhancement, user experience

#16 chore: Add app-wide typography styles
  lib/ui/screens/home_screen.dart
  lib/ui/screens/request_details_screen.dart
  lib/ui/theme/theme.dart
  pubspec.yaml
Labels: feature request

#7 chore: Create sign-in screen
  lib/ui/screens/auth.dart
  lib/ui/widgets/tags.dart
  pubspec.lock
  pubspec.yaml
Labels: feature request, good first issue, user experience

#17 chore: Create home screen bottom sheet prototype
  lib/ui/screens/home_screen.dart
  lib/ui/screens/request_details_screen.dart
  lib/ui/widgets/request_details_card.dart
  lib/ui/widgets/status_indicator.dart
  pubspec.lock
  pubspec.yaml
Labels: feature request
